{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div class="cabecalho_qsomos">
    <img src="{% static 'assets/contribuicoescapa.jpg' %}" alt="banner">
    <h1>Contribuições</h1>
</div>
<div class="secao_contribuicao">
    <h3>Conta Bancária</h3>
    <h4>Banco Bradesco</h4>
    <p>AG:2874</p>
    <p>Conta: 8174-4</p>
    <p>CNPJ: 58.105.826/0001-03</p>
    <p>Favorecido: Igreja O Brasil para Cristo</p>
    <p><Strong>Chave Pix:</Strong> 58.105.826/0001-03</p>    
    <img src="{% static 'assets/fora-caixa.jpg' %}" alt="QRCODE">
</div>
{% endblock %}