{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<h1 class="secao_contribuicao">Contribuições</h1>
<div class="secao_contribuicao">
    <div>
        <h3>Conta Bancária</h3>
        <h4>Banco Bradesco</h4>
        <p>AG:000</p>
        <p>Conta: 00000-00</p>
        <p>CNPJ: 00000000-00</p>
        <p>Favorecido: Igreja O Brasil para Cristo</p>
        <p><Strong>Chave Pix:</Strong> obpc@gmail.com</p>    
        <img src="{% static 'assets/fora-caixa.jpg' %}" alt="QRCODE">
    </div>
</div>
{% endblock %}