{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div class="cabecalho_qsomos">
    <img src="{% static 'assets/banner_eventos.jpg' %}" alt="banner">
    <h1>Eventos</h1>
</div>
<div class="div_cards_eventos_eventos">
    {% for card in eventos_pagina  %}
    <div class="card_evento_eventos">
        <a href="{% url 'evento_detalhe' card.id %}">
            <img src="{{card.foto_card_evento.url}}"  alt="fora-da-caixa">
        </a>
        <div class="card_alinhamento">
            {% if card.data_fim %}
            <p class="data_evento">{{card.data_inicio|date:'d'}} a {{card.data_fim}}</p>
            {% else %}
            <p class="data_evento">{{card.data_inicio}} - {{card.hora_evento}}</p>
            {% endif %}
            <a href="{% url 'evento_detalhe' card.id %}">
                <H2>{{card.nome_evento}}</H2>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% if eventos_pagina.paginator.num_pages > 1 %}
<div class="botom_page">
    {% if eventos_pagina.has_previous %}
    <a href="?page=1"><img src="{% static 'assets/angles-left-solid.svg' %}" alt=""></a>
    <a href="?page={{ eventos_pagina.previous_page_number }}"><img src="{% static 'assets/angle-left-solid.svg' %}" alt=""></a>
    {% endif %}

    <span>{{ eventos_pagina.number }} de {{ eventos_pagina.paginator.num_pages }}</span>

    {% if eventos_pagina.has_next %}
    <a href="?page={{ eventos_pagina.next_page_number }}"><img src="{% static 'assets/angle-right-solid.svg' %}" alt=""></a>
    <a href="?page={{ eventos_pagina.paginator.num_pages }}"><img src="{% static 'assets/angles-right-solid.svg' %}" alt=""></a>
    {% endif %}
</div>
{% endif %}
{% endblock %}