{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div class="instagram-widget">
    {% for post in posts %}
        <div class="instagram-post">
            {% if post.media_type == 'IMAGE' %}
                <img src="{{ post.media_url }}" alt="{{ post.caption }}" class="post-image">
            {% elif post.media_type == 'VIDEO' %}
                <video class="post-video" muted>
                    <source src="{{ post.media_url }}" type="video/mp4">
                    Seu navegador não suporta o elemento de vídeo.
                </video>
            {% elif post.media_type == 'CAROUSEL_ALBUM' %}
                <img src="{{ post.media_url }}" alt="{{ post.caption }}" class="post-image">
            {% endif %}
            <a href="{{ post.permalink }}" target="_blank" class="instagram-link">
                {% if post.caption %}
                <p>{{ post.caption }}</p>
                {% endif %}
            </a>
        </div>
    {% endfor %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const videoLinks = document.querySelectorAll('.instagram-link');

        videoLinks.forEach(link => {
            const video = link.parentElement.querySelector('.post-video');
            
            if (video) {
                // Reproduzir o vídeo ao passar o mouse sobre a âncora
                link.addEventListener('mouseover', function() {
                    video.play();
                });

                // Pausar o vídeo quando o mouse sair da âncora
                link.addEventListener('mouseout', function() {
                    video.pause();
                    video.currentTime = 0; // Reiniciar o vídeo quando o mouse sair
                });
            }
        });
    });
</script>
{% endblock %}