{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div class="div_pastor">
    <h2 class="titulo_pastor">Pastores</h2>
    <div>
        <h4 class="titulo_cargo">Pastor Titular</h4>
        <div class="alinhamento_div_pastor">
            <div class="alinhamento_foto_nome">
                <img class="div_foto_pastor" src="{% static 'assets/pastor.jpg' %}" alt="foto_pastor">
                <h4 class="nome_pastor">Melquisedeque Rezende</h4>
            </div>
            <p class="biografia_pastor">
                Caros amigos, o surgimento do comércio virtual ainda não demonstrou convincentemente que vai participar na mudança dos índices pretendidos. Evidentemente, o desenvolvimento contínuo de distintas formas de atuação faz parte de um processo de gerenciamento do remanejamento dos quadros funcionais. É importante questionar o quanto a contínua expansão de nossa atividade causa impacto indireto na reavaliação das condições inegavelmente apropriadas. No entanto, não podemos esquecer que o acompanhamento das preferências de consumo apresenta tendências no sentido de aprovar a manutenção dos modos de operação convencionais.
                
                Do mesmo modo, o novo modelo estrutural aqui preconizado garante a contribuição de um grupo importante na determinação da gestão inovadora da qual fazemos parte. A prática cotidiana prova que a crescente influência da mídia obstaculiza a apreciação da importância das direções preferenciais no sentido do progresso. Acima de tudo, é fundamental ressaltar que a necessidade de renovação processual facilita a criação dos procedimentos normalmente adotados. O que temos que ter sempre em mente é que o entendimento das metas propostas exige a precisão e a definição do fluxo de informações.
            </p>
        </div>
    </div>
    <div>
        <h4 class="titulo_cargo">Co-pastor</h4>
        <div class="alinhamento_div_pastor">
            <div class="alinhamento_foto_nome">
                <img class="div_foto_pastor" src="{% static 'assets/pastor_bira.jpg' %}" alt="foto_pastor">
                <h4 class="nome_pastor">Ubiratan Rios</h4>
            </div>
            <p class="biografia_pastor">
                Caros amigos, o surgimento do comércio virtual ainda não demonstrou convincentemente que vai participar na mudança dos índices pretendidos. Evidentemente, o desenvolvimento contínuo de distintas formas de atuação faz parte de um processo de gerenciamento do remanejamento dos quadros funcionais. É importante questionar o quanto a contínua expansão de nossa atividade causa impacto indireto na reavaliação das condições inegavelmente apropriadas. No entanto, não podemos esquecer que o acompanhamento das preferências de consumo apresenta tendências no sentido de aprovar a manutenção dos modos de operação convencionais.
                
                Do mesmo modo, o novo modelo estrutural aqui preconizado garante a contribuição de um grupo importante na determinação da gestão inovadora da qual fazemos parte. A prática cotidiana prova que a crescente influência da mídia obstaculiza a apreciação da importância das direções preferenciais no sentido do progresso. Acima de tudo, é fundamental ressaltar que a necessidade de renovação processual facilita a criação dos procedimentos normalmente adotados. O que temos que ter sempre em mente é que o entendimento das metas propostas exige a precisão e a definição do fluxo de informações.
            </p>
        </div>
    </div>
</div>
{% endblock %}