{% load static %}
<footer class="footer">
    <nav class="rodape_items">
        <div class="logo_rodape">
            <img  src="{% static 'assets/logo_obpc2.png' %}" alt="logo_obpc">
        </div>
        <div class="igreja">
            <p >
                Igreja Evangélica Pentecostal 
                O Brasil para Cristo
                R. Juraraterê, 138 - Itaim Paulista, São Paulo, SP, Brasil, 08140-040
            </p>
        </div>
               
        <div class="dias_culto">
            <p><strong>Dias de culto</strong>
                Terça-feira: <strong>20h</strong>  
               Quarta-feira: <strong>09h30</strong>
               Quinta-feira: <strong>20h</strong>
               Domingo: <strong>18h</strong> 
            </p>
        </div>
        <div class="contato">
            <h4><strong class="dias_culto">Contato</strong></h4>
            <p>secretariaobpcitaimpta@gmail.com</p>
            <p>(11) 2561-6775</p>
        </div>
        <div class="div_icons">
            <div>
                <a href="https://www.instagram.com/obpcitaimpta/"><img src="{% static '/assets/instagram.png' %}" class="icone" alt="logo_insta"></a>
                <a href="https://www.facebook.com/obpcitaimpta/"><img src="{% static '/assets/facebook.png' %}" class="icone" alt="logo_face"></a>
                <a href="https://www.youtube.com/@obpcitaimpta"><img src="{% static '/assets/youtube.png' %}" class="icone" alt="logo_face"></a>
                <a href="https://wa.me/551125616775"><img src="{% static '/assets/whatsapp.png' %}" class="icone" alt="logo_face"></a>
                <a href="https://maps.app.goo.gl/xcMgLaoAE6dacj6C6"><img src="{% static '/assets/mapas-do-google.png' %}" class="icone" alt="logo_face"></a>
            </div>
        </div>
        <div class="contribuicao_footer">
            <h4>Contribuições</h4>
            <p>Chave Pix: 58.105.826/0001-03</p>
            <p>Banco: Bradesco</p>    
            <p>Agencia: 2874</p>    
            <p>Conta-corrente: 8174-4</p>  
        </div>
    </nav>
</footer>