{% load static %}
<footer class="footer">
    <nav class="rodape_items">
        <img class="logo_rodape" src="{% static 'assets/logo_obpc.png' %}" alt="logo_obpc">
        <div class="igreja">
            <p >
                Igreja Evangélica Pentecostal O Brasil para Cristo
            </p>
            <p>
                R. Juraraterê, 138 - Itaim Paulista, São Paulo, SP, Brazil, 08140-040
            </p>
        </div>
               
        <div class="dias_culto">
            <h4><strong class="dias_culto">Dias de culto</strong></h4>
            
            <p>
                Terça-feira: <strong>20h</strong>  
                Quarta-feira: <strong>09h30</strong>
                Quinta-feira: <strong>20h</strong>
                Domingo: <strong>18h</strong> 
            </p>
        </div>
        <div class="contato">
            <h4><strong class="dias_culto">Contato</strong></h4>
            <p>secretariaobpcitaimpta@gmail.com</p>
            <p>(11) 2561-6775</p>
        </div>
        <div class="div_icons">
            <div>
                <img src="{% static '/assets/instagram.png' %}" class="icone" alt="logo_insta">
            </div>
            <div>
                <img src="{% static '/assets/facebook.png' %}" class="icone" alt="logo_face">
            </div>
            <div>
                <img src="{% static '/assets/youtube.png' %}" class="icone" alt="logo_face">
            </div>
            <div>
                <img src="{% static '/assets/whatsapp.png' %}" class="icone" alt="logo_face">
            </div>
            <div>
                <img src="{% static '/assets/mapas-do-google.png' %}" class="icone" alt="logo_face">
            </div>

        </div>
        <div>
            <div class="contribuicao">
                <h4>Contribuições</h4>
                <p>Chave Pix: 00.00.0000/0000-00</p>
                <p>Banco: Bradesco</p>    
                <p>Agencia: 00000-00</p>    
                <p>Conta-corrente: 00000-00</p>
            </div>  
        </div>
    </nav>
</footer>