{% load static %}
<header class="menu">
    <nav class="cabecalho">
        <a class="logo_a" href="{% url 'index' %}">
            <img class="foto" src="{% static 'assets/logo_obpc2.png' %}" alt="logo_obpc">
        </a>
        <div class="hamburger-menu" aria-label="Menu" aria-expanded="false" role="button">
            &#9776;
        </div>    
        <div class="menu_options_items">    
            <div class="cabecalho2">
                <a href="{% url 'index' %}" class="cabecalho">INÍCIO</a>
            </div>
            <div class="dropdown" role="listbox" aria-haspopup="listbox">
                <div class="dropdown-select" role="button" aria-expanded="false" aria-controls="dropdown-options">
                    IGREJA
                </div>
                <ul id="dropdown-options" class="dropdown-options" role="list" aria-labelledby="dropdown-select">
                    <li class="dropdown-option" role="option" tabindex="0"><a href="{% url 'quemsomos' %}">Quem Somos</a></li>
                    <li class="dropdown-option" role="option" tabindex="0"><a href="{% url 'pastores' %}">Pastores</a></li>
                    <li class="dropdown-option" role="option" tabindex="0"><a href="{% url 'eventos' %}">Eventos</a></li>
                    <li class="dropdown-option" role="option" tabindex="0"><a href="{% url 'devocionais' %}">Devocionais</a></li>
                </ul>
            </div>

            <div class="dropdown" role="listbox" aria-haspopup="listbox">
                <div class="dropdown-select" role="button" aria-expanded="false" aria-controls="dropdown-options2">
                    MINISTÉRIOS
                </div>
                <ul id="dropdown-options2" class="dropdown-options" role="list" aria-labelledby="dropdown-select">
                    {% for ministerio in ministerios %}
                    <li class="dropdown-option" role="option" tabindex="0">
                        <a href="{% url 'ministerio' ministerio.nome_ministerio %}">
                            {{ ministerio.nome_ministerio }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="dropdown" role="listbox" aria-haspopup="listbox">
                <div class="dropdown-select" role="button" aria-expanded="false" aria-controls="dropdown-options2">
                    CURSOS
                </div>
                <ul id="dropdown-options2" class="dropdown-options" role="list" aria-labelledby="dropdown-select">
                    {% for curso in cursos_menu %}
                        <li class="dropdown-option" role="option" tabindex="0">
                            <a href="{% url 'cursos' curso.id %}">{{curso.nome_curso_abreviado}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="dropdown" role="listbox" aria-haspopup="listbox">
                <div class="dropdown-select" role="button" aria-expanded="false" aria-controls="dropdown-options2">
                    CONGREGAÇÕES
                </div>
                <ul id="dropdown-options2" class="dropdown-options" role="list" aria-labelledby="dropdown-select">
                    {% for cong in congregacoes %}
                        <li class="dropdown-option" role="option" tabindex="0">
                            <a href="{% url 'congregacoes' cong.id %}">{{cong.nome_congregacao}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="cabecalho2">
                <a href="{% url 'contribuicoes' %}" class="cabecalho">CONTRIBUIÇÕES</a>
            </div>
            <div class="cabecalho2">
                <a href="{% url 'servicos' %}" class="cabecalho">SERVIÇOS</a>
            </div>
        </div>    
    </nav>
</header>

<script>
   document.addEventListener('DOMContentLoaded', function () {
    const dropdowns = document.querySelectorAll('.dropdown');
    const hamburgerMenu = document.querySelector('.hamburger-menu');
    const menuItems = document.querySelector('.menu_options_items');

    // Toggle para submenus em dispositivos móveis
    dropdowns.forEach(function (dropdown) {
        const dropdownSelect = dropdown.querySelector('.dropdown-select');
        
        dropdownSelect.addEventListener('click', function (event) {
            event.preventDefault();
            const isOpen = dropdown.classList.contains('show');
            dropdowns.forEach(d => {
                d.classList.remove('show');
                d.querySelector('.dropdown-options').style.maxHeight = null; // Fechar todos os submenus
            });

            if (!isOpen) {
                dropdown.classList.add('show');
                dropdown.querySelector('.dropdown-options').style.maxHeight = dropdown.querySelector('.dropdown-options').scrollHeight + 'px'; // Abrir o submenu clicado
            }
        });
    });

    // Controle do menu hambúrguer
    hamburgerMenu.addEventListener('click', function () {
        const expanded = this.getAttribute('aria-expanded') === 'true';
        this.setAttribute('aria-expanded', !expanded);
        menuItems.classList.toggle('show');
    });

    // Fechar o menu ao clicar fora
    document.addEventListener('click', function (event) {
        if (!menuItems.contains(event.target) && !hamburgerMenu.contains(event.target)) {
            menuItems.classList.remove('show');
            hamburgerMenu.setAttribute('aria-expanded', 'false');
        }
    });
    });

</script>
