{% load static %}
<header class="menu">
    <nav class="navbar">
        <div class="menu-hamburger">
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">
                <span class="hamburger">&#9776;</span>
                <a class="logo_a" href="{% url 'index' %}">
                    <img class="foto" src="{% static 'assets/logo_obpc2.png' %}" alt="logo_obpc">
                </a>
            </label>
    
            <ul class="menu-list">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>
                    <a href="#" data-toggle="submenu">Igreja</a>
                    <ul class="submenu">
                        <li><a href="{% url 'quemsomos' %}">Quem Somos</a></li>
                        <li><a href="{% url 'pastores' %}">Pastores</a></li>
                        <li><a href="{% url 'eventos' %}">Eventos</a></li>
                        <li><a href="{% url 'devocionais' %}">Devocionais</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="submenu">Ministérios</a>
                    <ul class="submenu">
                        {% for ministerio in ministerios %}
                        <li><a href="{% url 'ministerio' ministerio.nome_ministerio %}">{{ ministerio.nome_ministerio }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="submenu">Cursos</a>
                    <ul class="submenu">
                        {% for curso in cursos_menu %}
                        <li><a href="{% url 'cursos' curso.id %}">{{curso.nome_curso_abreviado}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'contribuicoes' %}">Contribuições</a></li>
                <li><a href="{% url 'servicos' %}">Serviços</a></li>
            </ul>
        </div>
    </nav>
    <nav class="cabecalho">
        <a class="logo_a" href="{% url 'index' %}">
            <img class="foto" src="{% static 'assets/logo_obpc2.png' %}" alt="logo_obpc">
        </a>
        <!-- <div class="hamburger-menu" aria-label="Menu" aria-expanded="false" role="button">
            &#9776;
        </div>     -->
        <div class="menu_options_items">    
            <div class="cabecalho2">
                <a href="{% url 'index' %}" class="cabecalho">INÍCIO</a>
            </div>
            <div class="dropdown" role="listbox" aria-haspopup="listbox">
                <div class="dropdown-select" role="button" aria-expanded="false" aria-controls="dropdown-options">
                    IGREJA
                </div>
                <ul id="dropdown-options" class="dropdown-options" role="list" aria-labelledby="dropdown-select">
                    <li class="dropdown-option" role="option" tabindex="0"><a href="{% url 'quemsomos' %}">Quem Somos</a></li>
                    <li class="dropdown-option" role="option" tabindex="0"><a href="{% url 'pastores' %}">Pastores</a></li>
                    <li class="dropdown-option" role="option" tabindex="0"><a href="{% url 'eventos' %}">Eventos</a></li>
                    <li class="dropdown-option" role="option" tabindex="0"><a href="{% url 'devocionais' %}">Devocionais</a></li>
                </ul>
            </div>

            <div class="dropdown" role="listbox" aria-haspopup="listbox">
                <div class="dropdown-select" role="button" aria-expanded="false" aria-controls="dropdown-options2">
                    MINISTÉRIOS
                </div>
                <ul id="dropdown-options2" class="dropdown-options" role="list" aria-labelledby="dropdown-select">
                    {% for ministerio in ministerios %}
                    <li class="dropdown-option" role="option" tabindex="0">
                        <a href="{% url 'ministerio' ministerio.nome_ministerio %}">
                            {{ ministerio.nome_ministerio }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="dropdown" role="listbox" aria-haspopup="listbox">
                <div class="dropdown-select" role="button" aria-expanded="false" aria-controls="dropdown-options2">
                    CURSOS
                </div>
                <ul id="dropdown-options2" class="dropdown-options" role="list" aria-labelledby="dropdown-select">
                    {% for curso in cursos_menu %}
                        <li class="dropdown-option" role="option" tabindex="0">
                            <a href="{% url 'cursos' curso.id %}">{{curso.nome_curso_abreviado}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="cabecalho2">
                <a href="{% url 'contribuicoes' %}" class="cabecalho">CONTRIBUIÇÕES</a>
            </div>
            <div class="cabecalho2">
                <a href="{% url 'servicos' %}" class="cabecalho">SERVIÇOS</a>
            </div>
        </div>    
    </nav>
</header>