{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <div class="carousel-container">
        <div class="slick-carousel">
            <div><img src="{% static 'assets/tema_ano.jpg' %}" class="foto_carrosel" alt="Slide 1"></div>
            <div><img src="{% static 'assets/igreja_nave.jpg' %}" class="foto_carrosel" alt="Slide 2"></div>
            <div><img src="{% static 'assets/tema_ano.jpg' %}" class="foto_carrosel" alt="Slide 3"></div>
            <div><img src="{% static 'assets/igreja_nave.jpg' %}" class="foto_carrosel" alt="Slide 2"></div>
        </div>
        <button class="slick-prev" aria-label="Anterior" role="button" tabindex="0"></button>
        <button class="slick-next" aria-label="Próximo" role="button" tabindex="0"></button>
    </div>
    <script>
        $(document).ready(function(){
            $('.slick-carousel').slick({
                dots: true,
                infinite: true,
                speed: 500,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,         // Ativa o modo de reprodução automática
                autoplaySpeed: 5000,    // Define o intervalo de tempo em milissegundos entre os slides
                responsive: [
                    {
                        breakpoint: 768, // Define o breakpoint desejado
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true,
                            adaptiveHeight: true, // Isso ajustará automaticamente a altura conforme a largura
                        }
                    }
                    // Adicione mais blocos responsive conforme necessário para outros breakpoints
                ]
            });
        });
    </script>
    <div class="div_cultos">
        <div class="div_programacao">
            <span><h2 class="line_programacao"><strong>Programação Semanal</strong></h2></span>
            <span class="programacao_subtitulo"><strong>Domingo</strong></span>
            <span>08h - Consagração</span>
            <span>09h - (1º e 3º domingo do mês) Café com Umasbrac</span>
            <span>10h - Encontro com Jubrac/Adobrac</span>
            <span>18h - Culto da Família</span>
            <span class="programacao_subtitulo"><strong>Terça-Feira</strong></span>
            <span>20h - Culto de Ensino</span>
            <span class="programacao_subtitulo"><strong>Quinta-feira</strong></span>
            <span>20h - Culto da Vitória</span>
            <span class="programacao_subtitulo"><strong>Sábado</strong></span>
            <span>09h - Encontro com Ufebrac</span>
            <span class="programacao_subtitulo"><strong>Manhãs de benção</strong></span>
            <span>De Segunda a Sexta, das 09h às 10h,</span>
            <span>Quarta das 09h30 às 11h</span>
            
            
        </div>
        <div class="div_img_cultos">
            <img class="img_cultos" src="{% static 'assets/pastor.jpg' %}" alt="CULTOS_IMG">
        </div>
    </div>
    <div>
        <img class="banner" src="{% static 'assets/tema_ano.jpg' %}" alt="banner">
    </div>
    <div class="evento_div">
        <div>
            <h1 class="eveto_titulo">Eventos</h1>
        </div>
        <div class="subtitulo_evento">
            <h3>Acompanhe nossa agenda</h3>
        </div>
        <div class="div_cards_eventos">
            <div >
                <img src="{% static 'assets/fora-caixa.jpg' %}" class="foto_agenda" alt="fora-da-caixa">
                <div class="card_alinhamento">
                    <p>9 A 12 FEV</p>
                    <H3>FORA DA CAIXA</H3>
                </div>
            </div>
            <div >
                <img src="{% static 'assets/igreja_nave.jpg' %}" class="foto_agenda" alt="culto_familia">
                <div class="card_alinhamento">
                    <p>DOMINGO, 4 FEV, 18:00</p>
                    <H3>CULTO DA FAMÍLIA</H3>
                </div>
            </div>
            <div >
                <img src="{% static 'assets/culto_familia.jpg' %}" class="foto_agenda" alt="culto_familia">
                <div class="card_alinhamento">
                    <p>DOMINGO, 4 FEV, 18:00</p>
                    <H3>CULTO DA FAMÍLIA</H3>
                </div>
            </div>
            <div >
                <img src="{% static 'assets/culto_familia.jpg' %}" class="foto_agenda" alt="culto_familia">
                <div class="card_alinhamento">
                    <p>DOMINGO, 4 FEV, 18:00</p>
                    <H3>CULTO DA FAMÍLIA</H3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}